* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*---------------layout-----------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}


ul {
  list-style-type: none;
}

li {
  padding: 0 10px;
}

div img {
  width: 100%;
  height: 100%;
}

.discount span {
  padding: 5px;
}

/*----------------utilities-------------------*/

.d-flex {
  display: flex;
}

.w-150 {
  width: 150px;
}

.col-33 {
  width: calc(100%/3 - 15px)
}


.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/*colors*/
.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

/*---------------- content---------------------*/

header {
  background-color: orangered;
  color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 100px;
  margin: 0 auto;
}
.card {
  position: relative;
  cursor: pointer;
}
.heart {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: white;
  margin-top: 10px;
}
.heart:hover{
  color: red;
}


/*span indicativi*/

.discount {
  color: white;
  position: absolute;
  bottom: 40px;
}

/*info generali*/

.generals span:first-child {
  color: red;
  font-weight: bold;
}

.generals span:last-child {
  text-decoration: line-through;
}

.generals p {
  text-transform: capitalize;
}

.generals h3 {
  text-transform: uppercase;
}